<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-grid >
    <ion-searchbar></ion-searchbar>
    <ion-list>
      <ion-list-header>My bookings</ion-list-header>

      <ion-item *ngFor="let item of myReservations; index as i">
        <ion-avatar>Room°{{item.room}}</ion-avatar>
        <ion-label>
          <h3>{{item.checkIn}}</h3>
          <h3>{{item.checkOut}}</h3>
          <p>{{item.roomType}}</p>
          <p>{{item.adults}} Adult(s) {{item.kids}}kid(s)</p>
          <p>TOTAL: {{item.totalPrice}}dh</p>
          <p *ngIf="item.status==='pending'" class="pending"> {{item.status}}</p>
          <p *ngIf="item.status==='confirmed'" class="confirmed"> {{item.status}}</p>
        </ion-label>
        <ion-button *ngIf="item.status==='pending'" (click)="delete(i)"><ion-icon name="close-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-list>

  </ion-grid>

<app-footer></app-footer>



</ion-content>
