ion-content{
  --background: #F6F3F1;

}

.step-container{
  box-sizing: border-box;
  padding: 0px 16px;
  margin: 5rem 1rem 2rem;
  position: relative;
}

.step-title{
  color: #0f0f0f;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

.booking-card{
  padding: auto;
  margin: 1rem auto 3rem;
  background-color: #FEFDFD;
  height: fit-content;
  max-width: 1000px;
}

.booking-card-header{
  color: #0f0f0f;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;

}

.calendar-icon{
  color: #0f0f0f;
  margin-right: 5px;
}

ion-item{
  --background:#FEFDFD;
  --color:#0f0f0f;

}

ion-datetime{
  --color:black;
}

.room{
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: auto;
 --color: #0f0f0f;
 --border-color:#0f0f0f;
 --border-width:1px;
 --background-activated:#0f0f0f;
 --color-activated:white;
}

.book{
  margin-top: 2rem;
  padding: auto;
  --background:#0f0f0f;
  --background-activated:white;
 --color-activated:#0f0f0f;

}

.room-number{
  color: #0f0f0f;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

.number{
  color: #0f0f0f;
  text-align: center;
}

.pick-title{
  color: #0f0f0f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  margin-left:2rem;
}



.radio-item{
  background: #F6F3F1;
  border: none;
}

.summary-card{
  padding: auto;
  margin: 1rem auto 3rem;
  background-color: #FEFDFD;
  height: fit-content;
  max-width: 1000px;
}

.summary-card-header{
  color: #0f0f0f;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

ion-list{
  background: #FEFDFD;
  margin-top: 20px;
}

ion-list h3{
  color: #0f0f0f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

ion-list p{
  color: #0f0f0f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

.payment-button-wrapper{
  text-align: center;
  margin: 1rem auto;
}

.spinner{
  margin: auto;
  text-align: center;
}

ion-toolbar{
  --background: #F6F3F1;
  --border-color: #F6F3F1;
  --border-width: 1px;
  --color: #0f0f0f;

  ion-menu-button{
    --color: #0f0f0f;
  }
}

.back{
  margin-top: 1rem;
  margin-bottom: 1rem;
  --color: #0f0f0f;
  font-size: 14px;
  font-weight: bold;

}


.room-card{
  --background:#FEFDFD;
  ion-card-title{
    --color:#0f0f0f;
  }
  ion-card-subtitle{
    --color:#0f0f0f;
  }

  ion-radio{
    margin-left: 12rem;
    --color:#0f0f0f;
  }
}

.check-button{
  --background:#0f0f0f;
  margin: auto auto 1rem 1rem;
}
