<div class="container">
  <footer>
      <ion-grid >
              <ion-row>
                  <ion-col class="start-col"   >
                      <h3 >MOROCCO.bed</h3>
                  </ion-col>
                  <ion-col class="end-col" >
                      <h6 ><b>MENU</b></h6>
                      <ul >
                          <a href="#" class="list-item"><li>Home</li></a>
                          <a href="#" class="list-item"><li>About</li></a>
                          <a href="#" class="list-item"><li>Terms and conditions</li></a>
                          <a href="#" class="list-item"><li>Galery</li></a>
                      </ul>
                  </ion-col>
                </ion-row>

                <ion-row class="center-col">
                  <ion-col   >
                    <p class="social text-muted mb-0 pb-0 bold-text"> <ion-icon name="logo-facebook"></ion-icon> <ion-icon name="logo-twitter"></ion-icon> <ion-icon name="logo-instagram"></ion-icon> </p><small class="rights"><span>&#174;</span> MOROCCO.bed All Rights Reserved.</small>
                </ion-col>
                </ion-row>

      </ion-grid>
  </footer>
</div>
