
    <header>
      <div class="container">
        <div class="wrapper">
          <ion-grid>
            <ion-row>
              <ion-col>
                <a  href="#" class="logo"> Morocco.bed</a>
              </ion-col>
              <ion-col ></ion-col>
              <ion-col class="extreme-left" >
                  <nav>
                    <a href="/sign-up" class="sign-up"> Sign Up</a>
                    <div class="separator"></div>
                    <a href="/login" class="sign-in">Sign In</a>
                  </nav>
              </ion-col>
        </ion-row>
      </ion-grid>
        </div>

      </div>
    </header>



