<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1371694839898549',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v12.0'
    });
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

 <ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-grid>
    <ion-row >
      <ion-col >
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="start-col">
                  <div class="ion-title-wrapper">
                    <p class="title">Welcome to the Morocco.bed</p>
                  </div>

                  <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input placeholder="Email" type="email" [(ngModel)]="user.email" ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
                  </ion-item>

                  <div class="sign-in-button-wrapper">
                    <ion-button class="sign-in-button" (click)="validate()">Sign In</ion-button>
                  </div>



                  <div class="password-forgotten-wrapper" (click)="forgotPassword()"><a  class="password-forgotten"> Password forgotten?</a></div>

                   <div class="or-socials">
                      Or Sign in using socials
                   </div>

                   <div class="socials">
                    <a (click)="facebookAuth()" class="social"><span><ion-icon name="logo-facebook"></ion-icon></span></a>
                    <a  (click)="googleAuth()" class="social"><span><ion-icon name="logo-google"></ion-icon></span></a>
                   </div>

                </ion-col>

                <ion-col col-12 col-xl-2 col-lg-3 col-md-4>
                    <ion-img src="../assets/login-side.jpg"></ion-img>
                    <div class="no-account-wrapper">
                      <p>Don't have an account yet?</p>
                    </div>
                    <ion-button size="large" expand="block" class="sign-up-button" href="/sign-up">Sign Up</ion-button>

                </ion-col>
              </ion-row>
            </ion-grid>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>



</ion-content>


