ion-content{
  --background: #F6F3F1;

}

ion-card{
  padding: auto;
  margin: 6rem auto;
  background-color: #FEFDFD;
  height: fit-content;
  max-width: 1000px;
}


ion-item{
  --background: #FEFDFD;
  margin: 20px 0;
  padding: 0;
  color: #0f0f0f;
  max-width: 350px;
  text-align: start;
}

.ion-title-wrapper{
  text-align: start;

}

.title{
  color: #0f0f0f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding: 0;
}

.start-col{
  min-width: 350px;

}

.sign-in-button-wrapper{
  text-align: center;

}
.sign-in-button{
  --background:#0f0f0f;
}

.password-forgotten-wrapper{
  text-align: start;
  padding: auto 0;
  margin-top: 5px;
}

.password-forgotten{
  color: #363636;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.or-socials{
  color: #363636;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  text-align: start;
  margin-top: 20px;
}

.socials{
  margin-top: 10px;
  text-align: center;
}

.social{
  color: #0f0f0f;
  font-size: 40px;
  padding: 10px;
}

.no-account-wrapper{
  text-align: center;
}

.no-account-wrapper p{
  color: #363636;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  margin: 10px auto;
}

.sign-up-button{
  --background:#0f0f0f;
}

@media screen and (max-width: 480px) {
  ion-item{
    margin: 20px 0;
    padding: 0;
    color: #0f0f0f;
    max-width: 250px;
    text-align: start;
  }

  ion-card-content{
    padding: 0;
  }

}
