<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>


    <ion-content >
      <ion-grid >
        <ion-list class="booking-list">
          <ion-list-header>Bookings summary</ion-list-header>

          <ion-item>
            <ion-avatar><ion-icon name="file-tray-full-outline" ></ion-icon></ion-avatar>
            <ion-label>
              <h3>Total bookings</h3>
              <p>{{totalReservationsNumber}}</p>
            </ion-label>
            <ion-button fill="clear"><ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon></ion-button>
          </ion-item>

          <ion-item>
            <ion-avatar><ion-icon name="checkmark-outline" ></ion-icon></ion-avatar>
            <ion-label>
              <h3>Confirmed bookings</h3>
              <p>{{confirmedReservationsNumber}}</p>
            </ion-label>
            <ion-button fill="clear"><ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon></ion-button>
          </ion-item>

          <ion-item>
            <ion-avatar><ion-icon name="close-outline"></ion-icon></ion-avatar>
            <ion-label>
              <h3>Pending bookings</h3>
              <p>{{pendingReservationNumber}}</p>
            </ion-label>
            <ion-button fill="clear"><ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon></ion-button>
          </ion-item>
        </ion-list>

        <ion-list class="shortcut-list">
          <ion-list-header>Shortcuts</ion-list-header>
          <ion-item>
            <ion-label>
              <ion-icon name="bed-outline"></ion-icon>
              Add new room
            </ion-label>
            <ion-button fill="clear"><ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon></ion-button>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-icon name="create-outline"></ion-icon>
              Check hotel rooms
            </ion-label>
            <ion-button fill="clear" href="/rooms"><ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon></ion-button>
          </ion-item>

        </ion-list>

      </ion-grid>
      <app-footer></app-footer>

    </ion-content>






