ion-content{
  --background:#FEFDFD;
  --color:#0f0f0f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.divider{
  border-top: #0f0f0f 1px solid;
  padding: auto;
  margin: 20px 10px;

}

.add-room-button{
  --color: #0f0f0f;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}

.add-room-button ion-icon{
  margin: auto 2px;
  color: #0f0f0f;
}

.label{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.close-button{
  --background: #0f0f0f;
}
