.title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}


ion-content{
  --background: #F6F3F1;
}


ion-list{
  background:#F6F3F1;
  ion-list-header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: bold;
  }
  ion-item{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --background:#F6F3F1;
    --color:#0f0f0f;
  }
  .confirmed{
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .pending{
    color: #e9d66b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

}

ion-toolbar{
  --background: #F6F3F1;
  --border-color: #F6F3F1;
  --border-width: 1px;
  --color: #0f0f0f;

  ion-menu-button{
    --color: #0f0f0f;
  }
}

.back{
  margin-top: 1rem;
  margin-bottom: 1rem;
  --color: #0f0f0f;
  font-size: 14px;
  font-weight: bold;

}
