<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">
      RESERVATIONS
    </ion-title>
  </ion-toolbar>
</ion-header>

      <ion-content >
        <ion-grid >
          <ion-searchbar></ion-searchbar>
          <ion-list>
            <ion-list-header>Current bookings</ion-list-header>

            <ion-item *ngFor="let res of reservations">
              <ion-avatar>N°{{res.room}}</ion-avatar>
              <ion-label>
                <h3>{{res.checkIn}}</h3>
                <h3>{{res.checkOut}}</h3>
                <p>{{res.roomType}} - {{res.adults}}Adult(s) {{res.kids}}Kid(s)</p>
                <p>TOTAL: {{res.totalPrice}}dh</p>
                <p *ngIf="res.status==='pending'" class="pending"> {{res.status}}</p>
                <p *ngIf="res.status==='confirmed'" class="confirmed"> {{res.status}}</p>
              </ion-label>
            </ion-item>
          </ion-list>

        </ion-grid>
        <app-footer></app-footer>

      </ion-content>

