<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">
      RESERVATIONS
    </ion-title>
  </ion-toolbar>
</ion-header>

      <ion-content >
        <ion-grid >
          <ion-searchbar></ion-searchbar>
          <ion-list>
            <ion-list-header>Current bookings</ion-list-header>

            <ion-item>
              <ion-avatar>N°125</ion-avatar>
              <ion-label>
                <h3>10-10-2021 / 13-10-2021</h3>
                <p>Jhon doe</p>
                <p>Suite 1258 - 2 Adults 0 Kids</p>
                <p>TOTAL: 5000dh</p>
                <p class="confirmed">Confirmed</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar>N°125</ion-avatar>
              <ion-label>
                <h3>10-10-2021 / 13-10-2021</h3>
                <p>Jhon doe</p>
                <p>Suite 1258 - 2 Adults 0 Kids</p>
                <p>TOTAL: 5000dh</p>
                <p class="pending">Pending</p>
              </ion-label>
            </ion-item>
          </ion-list>

        </ion-grid>
        <app-footer></app-footer>

      </ion-content>

