ion-content{
  --background: #F6F3F1;

}

ion-toolbar{
  --background: #F6F3F1;
  --border-color: #F6F3F1;
  --border-width: 2rem;
  --color: #0f0f0f;

  ion-menu-button{
    --color: #0f0f0f;
  }
}

.booking-card{
  padding: 0;
  margin: 3rem auto 3rem;
  background-color: #FEFDFD;
  height: fit-content;
  max-width: 100%;
}

.booking-card-header{
  color: #0f0f0f;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  ion-card-title{
    color: #0f0f0f;
  }
  ion-card-subtitle{
    font-size: 18px;
  }

}

ion-card-content{
  ion-row{
    ion-col{
      .cash{
        color: #008000;
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        padding: auto;
      }
      p{
        color: #36454f;
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        padding: auto;
      }
    }
  }

  ion-textarea{
    color: #0f0f0f;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: auto;
    margin-top: 1rem;
  }
}


.label{
  margin-top: 20px;
  margin-left: 1rem;
  color: #0f0f0f;
  text-align: left;
  font-family: inherit;
  font-size: 16px;
}

.upload{
  margin-left: 2rem;
  margin-right: 2rem;
  padding: auto;
 --color: #0f0f0f;
 --border-color:#0f0f0f;
 --border-width:1px;
}



.back{
  margin-top: 1rem;
  margin-bottom: 1rem;
  --color: #0f0f0f;
  font-size: 14px;
  font-weight: bold;

}


