.title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}


ion-content{
  --background: #F6F3F1;

}

.booking-card{
  padding: auto;
  margin: 3rem auto 3rem;
  background-color: #FEFDFD;
  height: fit-content;
  max-width: 1000px;
  ion-item{
    --background:#FEFDFD;
    --color:#0f0f0f;

  }

  ion-datetime{
    --color:black;
  }
}



.booking-card-header{
  color: #0f0f0f;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;

}

.calendar-icon{
  color: #0f0f0f;
  margin-right: 5px;
}



.room{
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: auto;
 --color: #0f0f0f;
 --border-color:#0f0f0f;
 --border-width:1px;
 --background-activated:#0f0f0f;
 --color-activated:white;
}

.book{
  margin-top: 2rem;
  padding: auto;
  --background:#0f0f0f;
  --background-activated:white;
 --color-activated:#0f0f0f;

}

ion-title{
  color: #0f0f0f;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  margin: 25px 0;

}

ion-slides{
  padding: 0;
  margin: auto;
}

ion-slide{
  max-width: 600px;
  width: 600px;
  height: 550px;
  padding: 0;
  margin: 0;
}
.caroussel-card{
  width: 600px;
  height: 550px;
}

img{
  width: 600px;
  height: 400px;
  object-fit:fill;
  padding: 0;
  margin: 0;
}

.spinner{
  margin: auto;
  text-align: center;
}



