<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">
      ROOMS
    </ion-title>
  </ion-toolbar>
</ion-header>


      <ion-content >
        <ion-grid >
          <ion-searchbar></ion-searchbar>
          <ion-list>

            <ion-item>
              <ion-label>
                <h3>N° 125</h3>
                <p class="confirmed">Single</p>
                <p>Price:1000dh/night </p>
                <p>Max Capacity: 2</p>
                <p>Kids Max age: 10</p>
              </ion-label>
              <ion-buttons>
                <ion-button><ion-icon name="pencil-outline"></ion-icon></ion-button>
                <ion-button><ion-icon name="close-outline"></ion-icon></ion-button>
              </ion-buttons>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>N° 485</h3>
                <p class="confirmed">Suite</p>
                <p>Price: 2500dh /night</p>
                <p>Max Capacity: 5 </p>
                <p>Kids Max age: 12</p>
              </ion-label>
              <ion-buttons>
                <ion-button><ion-icon name="pencil-outline"></ion-icon></ion-button>
                <ion-button><ion-icon name="close-outline"></ion-icon></ion-button>
              </ion-buttons>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>N° 568</h3>
                <p class="confirmed">Double</p>
                <p>Price:2000dh/night </p>
                <p>Max Capacity: 4</p>
                <p>Kids Max age: 10 </p>
              </ion-label>
              <ion-buttons>
                <ion-button><ion-icon name="pencil-outline"></ion-icon></ion-button>
                <ion-button><ion-icon name="close-outline"></ion-icon></ion-button>
              </ion-buttons>
            </ion-item>

          </ion-list>

        </ion-grid>
        <app-footer></app-footer>

      </ion-content>
